<% if current_admin %>
  <div class="navbar navbar-fixed-bottom inverse">
    <div class="navbar-inner">
      <div class="container">
        <p class="brand">Admin:</p>
        <!-- Begin Admin Nav: -->
          <%= link_to "SIZES", '#', class: "brand" %>
          <%= link_to "SIZES", '#', class: "brand" %>
          <%= link_to "SIZES", '#', class: "brand" %>
          <%= link_to "SIZES", '#', class: "brand" %>
        <!-- End Admin Nav: -->
      </div>
    </div>
  </div>
<% end %>
