<!-- START: Livefyre Embed -->

<h1>
   <!-- COMMENTS: Embed your <%= link_to "Livefyre", 'http://livefyre.com' %> or <%= link_to "Disqus", 'http://disqus.com' %>-->
</h1>

<h1>
<!--    the file can be found in app/views/shared/_comments-->
</h1>
<!-- END: Livefyre Embed -->
