<div class="row-fluid">
  <li class="span12 thumbnail-photo">
    <%= link_to image, class: "thumbnail" do %>
      <%= image_tag image.url_size(600), class: "img-rounded" %>
    <% end %>
    <% if current_user && p_id == current_user.id %>
      <%= link_to "delete?", image_path(image), method: :delete, class: "btn btn-danger btn-block" %>
    <% end %>
  </li>
</div>
