<div class="container-fluid">
  <div class="row-fluid">
    <%= link_to "Back to Post", post_path(@image.post), class: "btn btn-block btn-info btn-large" %>
    <div class="text-center">
      <%= image_tag @image.url %>
    </div>
  </div>
</div>

